.emptySquare, .filledSquare, .markedSquare, .completedSquare, .wrongSquare {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  border: 1px solid rgba(127, 125, 125, 0.89); 
}

.emptySquare {
  background-color: white;
}

.emptySquare:hover{background-color: orange;}

.filledSquare {
  background-color: #2cd6e2d2; 
}

.markedSquare {
  background-color: rgb(215, 209, 209);
  color: black; 
}

.completedSquare{
  background-color: red;
}

.wrongSquare{background-color: rgb(23, 22, 22); border: 1px solid white;}

