.emptySquare, .filledSquare, .markedSquare, .completedSquare, .wrongSquare, .wrongguessSquare, .mistakeSquare {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  border: 0,5px solid rgba(0, 0, 0, 0.89); 
}

.emptySquare {
  background-color: white; 
}

.emptySquare:hover{background-color: orange; }

.filledSquare {
  background-color: #2cd6e2d2; 
}

.markedSquare {
  background-color: rgb(215, 209, 209);
  color: black; 
}

.completedSquare {
  background: linear-gradient(
    90deg, 
    red, orange, yellow, green, blue, purple, red
  );
  background-size: 200% 100%;
  animation: rainbow-push 2.5s linear infinite;
}

@keyframes rainbow-push {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}

.wrongSquare{background-color: rgb(23, 22, 22); border: 1px solid white;}

.wrongguessSquare,.mistakeSquare{color: rgba(171, 9, 9, 0.855);}
.mistakeSquare{background-color: white;}

@keyframes rainbow{
  0% {background-color: red;}
  12% {background-color: orange;}
  25% {background-color: yellow;}
  37% {background-color: green;}
  50% {background-color: blue;}
  62% {background-color: aqua;}
  75% {background-color: purple;}
  100% {background-color: red;}
}