*{background-color: rgb(211, 206, 206); font-family: Tahoma, sans-serif;}

.main-layout {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
    position: relative; 
    padding-top: 2rem; 
}

.side-bar {
    position: absolute; 
    left: 5%; 
    top: 2rem; 
    display: flex;
    flex-direction: column;
    width: 15%; 
}

.side-bar h2 {
    margin-top: 0; 
}

.game-container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top-bar,.bottom-bar{
    display: flex;
}

.row-hints-container{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.col-hints-container{
    display: flex;
    flex-direction:row;
    height: 100px;
}
.hint-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9rem;
    gap: 7px;
    height: 55px;
    padding-right: 7px;
}

.hint-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9rem;
    gap: 6px;
    width: 55px;
    padding-bottom: 7px;
}

.corner{
    height: 100px;
    width: 100px;
}

.side-bar{
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-left: 10%;
}

.progress-bar{
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    box-shadow: 1px 1px 1px black;
}

.side-btn{
    border: 1px solid black;
    background-color: rgb(232, 222, 222);
    margin: 3px 10px;
}

.solve-btn:hover{
    border: 1px solid rgb(232, 222, 222);
    background-color: black;
    color: white;
}

